name: Auto Deploy to Minikube

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        run: docker build -t clothing-app:latest .

      - name: Load image into Minikube
        run: minikube image load clothing-app:latest

      - name: Apply Kubernetes Manifests
        run: kubectl apply -f k8s/

      - name: Restart Deployment
        run: kubectl rollout restart deployment clothing-app

      - name: Verify Deployment
        run: kubectl get pods -o wide
